@page "/dashboard2"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@inject NavigationManager NavigationManager


<h3>Dashboard2</h3>

@code {

}
