@page "/dashboard3"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@inject NavigationManager NavigationManager


<h3>Dashboard3</h3>

@code {

}
